.form-columns {
  display: flex;
  flex-wrap: wrap;
}

.form-column {
  flex: 1;
  margin-right: 10px;
}

.form-column-full {
  flex: 2;
  margin-right: 10px;
}

.full-width {
  width: 100%;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}

.cancel-button,
.mat-raised-button {
  color: white;
  background-color: rgb(255, 130, 130);
  border: none;
  border-radius: 0;
  width: 20%;
  height: 4vh;
  line-height: 4vh;
  text-align: center;
  margin-left: 2.5%;
}

.mat-raised-button {
  background-color: #3f51b5;
  margin-right: 2.5%;
}

.success-snackbar {
  background-color: #4caf50;
}

.error-snackbar {
  background-color: #f44336;
}

.disabled-button {
  opacity: 0.5;
  pointer-events: none;
}

