<h1 mat-dialog-title>Criar Entidade</h1>
<form [formGroup]="formGroup">
  <mat-dialog-content>
    <div class="form-columns">
      <div class="form-column">
        <mat-form-field class="full-width">
          <input matInput placeholder="Nome Fantasia" formControlName="nomeFantasia" required  [disabled]="data.isViewMode"/>
          <mat-error *ngIf="formGroup.get('nomeFantasia')?.invalid">{{ getErrorMessage('nomeFantasia') }}</mat-error>
        </mat-form-field>
      </div>
      <div class="form-column">
        <mat-form-field class="full-width">
          <input matInput placeholder="Razão Social" formControlName="razaoSocial" required [disabled]="data.isViewMode"/>
          <mat-error *ngIf="formGroup.get('razaoSocial')?.invalid">{{ getErrorMessage('razaoSocial') }}</mat-error>
        </mat-form-field>
      </div>
      <div class="form-column">
        <mat-form-field class="full-width">
          <mat-select placeholder="Regional" formControlName="regional" required [disabled]="data.isViewMode">
            <mat-option *ngFor="let regional of regionais" [value]="regional.value">{{regional.label}}</mat-option>
          </mat-select>
          <mat-error *ngIf="formGroup.get('regional')?.invalid">{{ getErrorMessage('regional') }}</mat-error>
        </mat-form-field>
      </div>
      <div class="form-column-full">
        <mat-form-field class="full-width">
          <input matInput placeholder="CNPJ" formControlName="cnpj" appCnpjMask required [disabled]="data.isViewMode" />
          <mat-error *ngIf="formGroup.get('cnpj')?.invalid">{{ getErrorMessage('cnpj') }}</mat-error>
        </mat-form-field>
      </div>
      <div class="form-column-full">
        <mat-form-field class="full-width">
          <mat-select placeholder="Especialidades Médicas" formControlName="especialidadesMedicas" multiple required [disabled]="data.isViewMode">
            <mat-option *ngFor="let especialidade of especialidadesMedicasList" [value]="especialidade">{{especialidade}}</mat-option>
          </mat-select>
          <mat-error *ngIf="formGroup.get('especialidadesMedicas')?.invalid">{{ getErrorMessage('especialidadesMedicas') }}</mat-error>
        </mat-form-field>
      </div>
      <div class="form-column">
        <mat-form-field class="full-width">
          <input matInput placeholder="Data de Início" formControlName="dataInauguracao" [matDatepicker]="picker" required [disabled]="data.isViewMode" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="formGroup.get('dataInauguracao')?.invalid">{{ getErrorMessage('dataInauguracao') }}</mat-error>
        </mat-form-field>
      </div>
      <div class="form-column">
        <mat-checkbox formControlName="ativa" [disabled]="data.isViewMode">Ativo</mat-checkbox>
      </div> 
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="action-buttons">
    <button class="cancel-button" mat-button (click)="onNoClick()">Cancelar</button>
    <button
      class="mat-raised-button"
      color="primary"
      (click)="onSubmit()"
      [disabled]="formGroup.invalid || data.isViewMode"
      [class.disabled-button]="formGroup.invalid || data.isViewMode"
    >Salvar</button>
  </mat-dialog-actions>
</form>
