<div class="login-container" [formGroup]="loginForm" [ngClass]="{'form-submitted': submitted}">
  <mat-card class="login-card">
    <mat-card-content>
      <mat-grid-list cols="1" rowHeight="200px">
        <mat-card-title>Login</mat-card-title>
        <div class="general-error-container">
          <div class="general-error" *ngIf="invalidCrendentialsText">
            Credenciais inválidas. Por favor, tente novamente.
          </div>
        </div>
        <mat-form-field class="login-form-field">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Ex. pat@example.com" formControlName="email">
          <mat-error *ngIf="(submitted && loginForm.get('email')?.invalid) || emailErrorMessage">
            {{ emailErrorMessage }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="login-form-field">
          <mat-label>Senha</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <mat-error *ngIf="submitted && loginForm.get('password')?.invalid">
            {{ passwordErrorMessage }}
          </mat-error>
          <button mat-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>     
      </mat-grid-list>
    </mat-card-content>
    <mat-card-actions class="login-actions">
      <button mat-raised-button color="primary" class="full-width" (click)="login()" [disabled]="isLoading">
        <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
        <span *ngIf="!isLoading">Login</span>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
