body, html {
  height: 100%;
  margin: 0;
  background-color: #f5f5f5; 
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.login-card {
  width: 100%;
  max-width: 400px; 
  padding: 24px; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }

.login-form-field {
  width: 100%;
  margin-top: 24px; 
}

.login-actions {
  display: flex;
  justify-content: center;
  margin-top: 18%;
}

mat-card-title {
  font-size: 24px;
  color: #333; 
  margin-bottom: 16px;
}

mat-card {
  background-color: #fff; 
}

.full-width {
  width: 100%;
}

.general-error-container {
  position: relative;
  display: flex;
  align-items: center; 
}

.general-error {
  position: absolute;
  width: max-content;
  top: 0;
  left: 0;
  color: red;
}

mat-spinner {
  margin-right: 8px;
}
