.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
  padding-top: 60px;
}

.header h2 {
  margin: 0;
}

.table-card {
  width: 100%;
  max-width: 800px;
}

.filter-full-width {
  width: 100%;
  margin-bottom: 20px;
}

.empty-table-message {
  text-align: center;
  margin-top: 20px;
}

/* .paginator-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  padding-top: 10px; 
}

.items-per-page {
  font-size: 12px;
} */

.paginator-wrapper {
  flex-grow: 1;
  margin-left: 35%;
}

.icon-container {
  margin-right: 10px;
}

.pagination {
  box-shadow: none !important;
  display: flex;
  justify-content: flex-end;
  

  background: none !important;
}

.page-number {
  width: 45px;
  height: 45px;
  border: 1px solid #3f51b5;
  background-color: #3f51b5;
  color: white;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .header button {
    margin-top: 10px;
  }

  .paginator-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .paginator-wrapper {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
    justify-content: center;
  }

  
}

@media (max-width: 425px) {
  .mat-header-cell, .mat-cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .mat-header-cell, .mat-cell {
    display: block;
  }

  .table-responsive {
    display: block;
    overflow-x: auto;
  }
}
