<h1 mat-dialog-title>Confirmação</h1>
<div mat-dialog-content>
  <p>{{ data.message }}</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" style="color: white; background-color: rgb(255, 130, 130); border: none; border-radius: 0; width: 20%; height: 4vh; line-height: 4vh; text-align: center; margin-left: 2.5%;">Não</button>
  <button mat-button (click)="onYesClick()" cdkFocusInitial style="color: white; background-color: #3f51b5; border: none; border-radius: 0; width: 20%; height: 4vh; line-height: 4vh; text-align: center; margin-right: 2.5%;">Sim</button>
</div>